<% currently_at t('nav_menu.home') %>

<div class="ml-5 mt-5"><%== @pagy.series_nav(:bulma) if @pagy.pages > 1 %></div>

<section class="section">
  <% @articles.each do |article| %>
    <%= render "article", article: article %>
  <% end %>
</section>

<div class="ml-5 mt-5"><%== @pagy.series_nav(:bulma) if @pagy.pages > 1 %></div>
